<!-- <div class="address-form"> -->
    <form #regForm="ngForm" ngNativeValidate (ngSubmit)="addAddress(regForm)">
        <div>
            <label for="">Name:</label>
            <input type="text" ngModel name="name" required>
        </div>
        <div>
            <label for="">Phone Number</label>
            <input type="tel" ngModel name="phone"  pattern="[0-9]{3}[0-9]{3}[0-9]{4}" >
            
        </div>
        <div>
            <label for="">Address:</label>
            <input type="text" ngModel aria-rowcount="5" name="address" required>
        </div>
        <div>
            <label for="">PinCode:</label>
            <input type="text" ngModel  name="pinCode" required>
        </div>
        <div>
            <label for="">State:</label>
            <input type="text" ngModel  name="state" required>
        </div>
        <div>
            <label for="">City:</label>
            <input type="text" ngModel  name="city" required>
        </div>
        
        <button type="submit">Confirm</button>
    </form>
<!-- </div> -->