<app-navbar></app-navbar>
<div class="table-container">
    <h1>Available slots</h1>
  
    <!-- Check if there are slots to display -->
    <ng-container *ngIf="slots.length > 0; else noSlots">
      <table mat-table class="mat-elevation-z8" [dataSource]="slots" class="mat-card-container" >
        <!-- Define the table columns -->
       
        <ng-container matColumnDef="bookingDate">
          <mat-header-cell style="background-color:rgb(0, 128, 128)" *matHeaderCellDef> Booking Date </mat-header-cell>
          <mat-cell *matCellDef="let slot"> {{ slot.bookingDate }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="startTime">
          <mat-header-cell style="background-color:rgb(0, 128, 128)" *matHeaderCellDef> Start Time </mat-header-cell>
          <mat-cell *matCellDef="let slot"> {{ slot.startTime }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="endTime">
          <mat-header-cell style="background-color:rgb(0, 128, 128)" *matHeaderCellDef> End Time </mat-header-cell>
          <mat-cell *matCellDef="let slot"> {{ slot.endTime }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <mat-header-cell style="background-color: rgb(0, 128, 128)" *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let slot">
            <button mat-raised-button color="primary" (click)="bookSlot(slot.id, slot.bookingDate, slot.startTime, slot.endTime)">Book</button>
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="['bookingDate', 'startTime', 'endTime', 'actions']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['bookingDate', 'startTime', 'endTime', 'actions']"></mat-row>
      </table>
    </ng-container>
    <!-- Message for when there are no slots to display -->
    <ng-template #noSlots>
      <p>No slots available for this product.</p>
    </ng-template>
  </div>
  
<app-footer></app-footer>
